@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

#bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0.1;
  background-color: #f7f7f5;
  background-image: linear-gradient(#ff770b 0.9px, transparent 0.9px),
    linear-gradient(to right, #ff770b 0.9px, #f7f7f5 0.9px);
  background-size: 18px 18px;
}
